## Unit 10. 리스트와 튜플

### 10.1 리스트(List)

In [1]:
a=[38,21,53,62,19]              # 여기에서 [ ] 는 리스트임
a

[38, 21, 53, 62, 19]

In [2]:
import numpy as np               # 여기에서 [ ] 는 array
np.random.randint(10,70,5)

array([32, 44, 60, 34, 22])

In [3]:
# 리스트의 엘리먼트는 여러자료형을 사용할 수 있음
person=['james', 27, 175.3, '남']                  # 이렇게 쓰는 건 유용하지 않음, 나중에 딕셔너리 사용 추천
person

['james', 27, 175.3, '남']

In [4]:
# 위의 리스트는 아래와 같은 딕셔너리로 표현하는 것이 더 좋음
{'name':'james', 'age':27, 'height':175.3, 'gender':'남'}

{'name': 'james', 'age': 27, 'height': 175.3, 'gender': '남'}

* 빈 리스트 만들기

In [5]:
# 빈 리스트 잘 사용해야함, 빈 리스트에 반복문을 추가하는 형태가 많이 사용됨
a=[]
b=list()
a,b=[],[]

In [7]:
import random
for i in range(5):
    a.append(random.randint(60,100))
a

[92, 67, 80, 85, 86]

* range 객체

In [8]:
range(5)               # 그냥하면 리스트가 안나옴

range(0, 5)

In [9]:
list(range(5))         # 그래서 list를 붙여줘야 함, # range parameter 1개이면 횟수 의미 (0에서 n-1까지)

[0, 1, 2, 3, 4]

In [10]:
# range parameter 2개이면 시작과 끝 의미 (시작에서 끝-1까지)
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# range parameter 3개이면 시작, 끝, 증가폭 의미
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(10,0,-2))        #end-(증가폭부호)*1 → 0-(-2)*1=1(?)

[10, 8, 6, 4, 2]

### 10.2 튜플(tuple)

In [14]:
person

['james', 27, 175.3, '남']

In [16]:
person=('james', 27, 175.3, '남')         #person 내용을 괄호를 주면 튜플이 됨
person                                    #[ ] : 리스트,numpy array, ( ) : 튜플, { } : ①딕셔너리 ②세트

('james', 27, 175.3, '남')

In [17]:
size=(3)                    # 엘리먼트 하나일 때 소괄호는 정수
type(size)

int

In [18]:
size=[3]                   # 엘리먼트 하나일때 대괄호는 리스트
type(size)

list

In [19]:
size=(3,)                    #엘리먼트가 하나일 경우 콤마를 붙여야 튜플이 됨
type(size)

tuple

In [20]:
size=3,               # 괄호가 없어도 튜플이 됨
type(size)

tuple

* 튜플은 요소를 변경, 추가 삭제할수 없다.

In [21]:
t=()                    #이렇게 생성되면 수정이 안되기 떄문에 이렇게 쓰면 안됨
type(t)

tuple

In [22]:
t=tuple(range(5))
t

(0, 1, 2, 3, 4)

* 리스트와 튜플 서로 변경할 수 있음

In [23]:
l=list(t)
type(l)

list

In [24]:
type(tuple(l))

tuple

* 리스트에 문자열 넣기

In [25]:
list('안녕하세요')                       # 한글자씩 떨어짐

['안', '녕', '하', '세', '요']

In [26]:
list('hello')

['h', 'e', 'l', 'l', 'o']

* list/tuple unpacking

In [27]:
a, b, c, d='a', 'b', 'c', 'd'
a,b,c,d

('a', 'b', 'c', 'd')

In [30]:
a,b,c,d=list('abcd')
a,b,c,d

('a', 'b', 'c', 'd')

In [31]:
x,y,z=range(3)
x,y,z

(0, 1, 2)

In [32]:
x,y,z=input().split()
x,y,z

('10', '20', '30')

In [33]:
x,y,z=map(int,input().split())
x,y,z

(10, 20, 30)

In [34]:
x,y,z=map(lambda x:int(x)*2+5,input().split())
x,y,z

(25, 45, 65)