# Unit 22. 리스트와 튜플 응용
### 22.1 리스트 조작

<pre>
함수 function / 메소드 method 
 예. 캐스퍼 차량
   - 속성값 : 제조사, 색깔, 가격
   - 메소드 : 전진, 후진, 좌/우회전, 멈춤
</pre>

In [2]:
# sumd은 함수(function)
a=[1,3,5,7,9]
sum(a)

25

In [3]:
# method : append는 method
a.append(11)
a

[1, 3, 5, 7, 9, 11]

* 리스트에 요소 추가
<pre>
append: 요소 하나를 추가
extend: 리스트를 연결하여 확장
insert: 특정 인덱스에 요소 추가
</pre>

In [4]:
# append 꼭 기억!!!
# array는 늘리고 줄이기가 안됨.. 사용한계..

a=[10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [5]:
# 소수(prime number - 2,3,5,7,11... / 약수가 1과 자신밖에 없는 것)
prime_numbers=[]              # 빈리스트를 만들어놓고 숫자를 채워넣는 방법 많이 사용 

def is_prime_number(num):
    if num ==2:
        return True
    for i in range(2, num):
        if num%i ==0:
            return False
    return True

for i in range(2,101):
    if is_prime_number(i):     # i가 소수이면
       prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [6]:
# 1에서 100까지 7의배수 리스트 만들기
multiple7=[]
for i in range(1,101):
    if i%7==0:
        multiple7.append(i)
multiple7

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [7]:
a=[10,20,30]
a.append([100,200])
a

[10, 20, 30, [100, 200]]

In [8]:
b=[10,20,30]
b.extend([100,200])
b

[10, 20, 30, 100, 200]

In [9]:
c=[10,20,30]
c.insert(0,100)
c

[100, 10, 20, 30]

* 요소 삭제
<pre>
pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
remove: 특정 값을 찾아서 삭제
</pre>

In [10]:
c

[100, 10, 20, 30]

In [11]:
del c[0]
c

[10, 20, 30]

In [12]:
a=[10,20,30]
a.pop()                    # 맨 마지막 요소 삭제

30

In [14]:
a                          # 맨마지막 요소 삭제 후 a 리스트

[10, 20]

In [15]:
a=[10,20,30]
a.remove(20)
a

[10, 30]

* stack(Last-in , first-out)
* queue(first-in, first-out)

* 특정값의 인덱스

In [17]:
a=[10,20,30,20,40]
a.index(20)                  # 가장 처음 찾은 인덱스를 구함

1

* 특정값의 갯수

In [18]:
a.count(20)

2

* 리스트의 순서 뒤집기

In [19]:
a=[10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [20]:
list(reversed(a))     #a 값을 변화시키지는 않음

[10, 20, 30, 40, 50]

In [21]:
# 그래서 reversed a 순서는
a

[50, 40, 30, 20, 10]

In [22]:
a[::-1]

[10, 20, 30, 40, 50]

* 정렬(sort)

In [23]:
# 오름차순(ascending order)
a=[10,20,50,30,40]
a.sort()
a

[10, 20, 30, 40, 50]

In [25]:

# 반복문으로 sort 구현
a=[10,20,50,30,40]
for i in range(len(a)-1):
    for k in range(i+1,len(a)):
        if a[i] > a[k]:
            a[i],a[k]= a[k],a[i]
a

[10, 20, 30, 40, 50]

In [28]:
#내림차순(descending order)
a=[10,20,50,30,40,5,25]
a.sort(reverse=True)
a

[50, 40, 30, 25, 20, 10, 5]

In [29]:
# 다음 중 상위 점수 3개

import random
numbers=[]
for i in range(20):
    numbers.append(random.randint(1,100))
numbers

[23, 45, 80, 77, 75, 38, 58, 10, 92, 81, 60, 17, 4, 73, 81, 49, 73, 85, 30, 98]

In [30]:
numbers.sort(reverse=True)
numbers[:3]

[98, 92, 85]

In [31]:
sorted(numbers,reverse=True)[:3]

[98, 92, 85]

* 리스트의 모든 요소 삭제

In [32]:
a=[10,20,30]
a.clear()
a

[]

* 리스트의 슬라이스

In [33]:
a=[10,20,30]
a[len(a):]=[400,500]
a

[10, 20, 30, 400, 500]

In [34]:
a=[10,20,30]
a[1:1]=[500,600]
a

[10, 500, 600, 20, 30]

### 11.2 리스트의 할당과 복사

In [35]:
a=[0,0,0]
b=a

In [36]:
b[1]=10
b

[0, 10, 0]

In [38]:
# side effect로 의도하지 않았던 a 값이 변경됨
a

[0, 10, 0]

In [39]:
a is b

True

* 리스트의 복사

In [40]:
a=[0,0,0]
b=a.copy()
b[1]=20
b

[0, 20, 0]

In [41]:
a

[0, 0, 0]

In [42]:
# 2차원 이상에서는 Deep copy가 필요함
a=[[0,0],[0,0]]
b=a.copy()
b[1][1]=30
b

[[0, 0], [0, 30]]

In [43]:
a

[[0, 0], [0, 30]]

### 22.3 반복문과 리스트 ★

In [45]:
fruits=['apple', 'banana', 'cherry' ]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [46]:
for index, item in enumerate(fruits):
    print(index, item)

0 apple
1 banana
2 cherry

In [47]:
for index, item in enumerate(fruits, start=1):         # 인덱스가 1부터 시작할 때
    print(index, item)

1 apple
2 banana
3 cherry

In [48]:
for i in range(len(fruits)):          # 옛날방식
    print(i, fruits[i])

0 apple
1 banana
2 cherry

### 22.4 min, max, sum

In [55]:
a=[38,21,53,62,19]             # 값 에러 다시 계산하기!!!!
smallest=0
for i in a:
     if i < smallest:
        smallet = i
smallest

0

In [51]:
largest=0
for i in a:
    if i >largest:
        largest = i
largest

62

In [52]:
min(a), max(a)

(19, 62)

In [ ]:
sum(a)

193

### 22.5 리스트 표현식(comprehension)

In [56]:
# 1에서 10까지 제곱수로 된 리스트 만들기
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
sq_list=[i*i for i in range(1,11)]         # 줄여쓰기, 리스트 표현식
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
odd_sq_list=[]
for i in range(1,11):
    if i%2==1:
        odd_sq_list.append(i*i)
odd_sq_list

[1, 9, 25, 49, 81]

In [62]:
odd_sq_list=[i*i for i in range(1,11) if i%2==1]         # 줄여쓰기, 리스트 표현식
odd_sq_list

[1, 9, 25, 49, 81]

In [64]:
# 구구단
a=[i*k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [65]:
a=[i*k for i in range(2,10) 
        for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22.6 map 적용

In [67]:
a=[1.2, 2.5, 3.7, 4.6]
b=[]
for element in a :
    b.append(int(element))
b

[1, 2, 3, 4]

In [69]:
b=list(map(int,a))
b

[1, 2, 3, 4]

In [70]:
# 표현식으로 b=[]
b=[int(element) for element in a]
b

[1, 2, 3, 4]

In [71]:
# a의 제곱수로 된 리스트 만들기
a=[1.2, 2.5, 3.7, 4.6]

sq_a=[]
for element in a:
    sq_a.append(element*element)
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [72]:
# 리스트 표현식으로
sq_a=[element*element for element in a]
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [73]:
# map 적용
def square(x):
    return x*x

square(5)

25

In [74]:
def square(x):
    return x*x

sq_a = list(map(square, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [75]:
# 익명(lambda) 함수와 map 적용
sq_a = list(map(lambda x:x*x, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]