# Unit 24. 문자열 응용

<pre>
일반적인 문자열 vs 정규표현식 - 텍스트 분석

ex) 비밀번호 정규식

문자열 조작 메소드에서는 정규표현식 처리 불가함 

스마트 빅데이터 분석 - pandas DataFrame

replace : 정규식 사용불가 / str.replace : 정규식 사용가능
</pre>

### 24.1 문자열 조작

* 변경(replace) method

In [2]:
# 문자열 메소드는 자기 보존적
s= 'hello python'
s.replace('python', 'world')

'hello world'

In [4]:
s              # s값은 바뀌지 않음

'hello python'

In [5]:
# 리스트의 메소드는 자기 파괴적
a= [10,20,30]
a.pop()

30

In [7]:
a             # a값 바뀜

[10, 20]

In [8]:
s= s.replace('python', 'world')
s

'hello world'

In [9]:
# 정규 표현식(refulat expression)
import re                                 # re(regular expression)
s= '안녕하세요 Python 코딩 강좌입니다.' 
re.sub('[^A-Za-z]', ' ', s)        #괄호값은 : 패턴, 변경될 값, 문자열

'      Python          '

In [11]:
# 한글 이외에는 공백으로 변경
re.sub('[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]', ' ', s)

'안녕하세요        코딩 강좌입니다 '

In [12]:
# translate 생략, 잘 사용안함

* 문자열 분리(split)

In [14]:
s= 'apple pear grape pineapple'
d= s.split()
d

['apple', 'pear', 'grape', 'pineapple']

In [15]:
s= 'apple,pear,grape,pineapple'
d= s.split(',')
d

['apple', 'pear', 'grape', 'pineapple']

In [18]:
stopwords = ['a', 'the', 'I', 'am', 'is']
s= 'I am a graduate student.'         # 스탑워즈에 있는 단어들을 제거
d= s.split()
d= [word for word in d if word not in stopwords]
d

['graduate', 'student.']

* 문자열 리스트 연결(join)

In [19]:
' '.join(d)                  # 스페이스로 조인을 해달라..

'graduate student.'

In [20]:
' '.join('apple,pear,grape,pineapple'.split(','))

'apple pear grape pineapple'

In [21]:
'apple,pear,grape,pineapple'.replace(',', ' ')

'apple pear grape pineapple'

In [22]:
s= 'I am a graduate student.'  
' '.join(word for word in s.split() if word not in stopwords)

'graduate student.'

In [26]:
d= s.split()
setence = []
for word in d:
    if word not in stopwords:
        setence.append(word)
setence = ' '.join(setence)
setence

'graduate student.'

* 대소문자 변환(upper, lower)

In [27]:
'Python'.lower(), 'Python'.upper()

('python', 'PYTHON')

* 공백 삭제(strip, lstrip, rstrip)

In [28]:
s= ' Python '
s.lstrip(), s.rstrip(), s.strip()

('Python ', ' Python', 'Python')

In [32]:
s= ',=Python.!'
s.strip()

',=Python.!'

* 구두점 제거

In [30]:
# 부호들을 삭제하려면..

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [33]:
s.strip(string.punctuation)

'Python'

* 메소드 체이닝(method chaining)

In [34]:
s= ',=Python.!'
s.lower().strip(string.punctuation)   #메소드를 계속 연결해서 쓸 수 있음

'python'

In [39]:
s= ' 123,000원'
s.strip().strip('원').replace(',','')

'123000'

In [41]:
s= ' 123,000원'
int(s.strip(' 원').replace(',',''))

123000

In [42]:
s='USD 1,752.37$'
float(s.strip('USD $').replace(',',''))

1752.37

* 정렬(ljust, rjust, center)

In [46]:
'Python'.ljust(10), 'Python'.rjust(10), 'Python'.center(10)           # 10 : 총 10글자 정렬

('Python    ', '    Python', '  Python  ')

* 문자열 위치 찾기(find, rfind, index, rinedex)

In [48]:
'apple pineapple'.find('pp')           # 결과값 1은 인덱스값.. a가 0 pp가 1

1

In [49]:
'apple pineapple'.find('xy')           # 없으면 결과값 -1

-1

In [51]:
s= 'A quick brown fox jumps over the lazy dog.'   # A앞에 공백있으면 인덱스 카운트 됨
s. find('fox')

14

In [52]:
s.find('wolf')

-1

In [53]:
search='fox'
if s.find(search) >=0:
    print('문장안에 찾고자 하는 문자열이 있습니다.')
else :
    print('문장안에 찾고자 하는 문자열이 없습니다.')

문장안에 찾고자 하는 문자열이 있습니다.

In [54]:
search in s

True

In [55]:
'fox' in s

True

In [56]:
  # 두번째에 있는 pp 찾고 싶을 때
'apple pineapple'.rfind('pp')

11

In [57]:
'apple pineapple'.index('pp'), 'apple pineapple'.rindex('pp')

(1, 11)

* 문자열 개수 세기

In [58]:
'apple pineapple'.count('pp')

2

### 연습문제
<pre>
1. 디지털 시계(00:00 ~23:59)가 있다.
  하루동안 3이라는 숫자가 표시되는 시간은 몇초인가?

2. 1에서 1000까지 숫자에서 0,1,.....9는 몇 번 나오나?
</pre>

In [60]:
# 1
time=0
for hour in range(24):
    for minute in range(60):
        display = str(hour) + ':' + str(minute)
        # display = f'{hour:02d}:{minute:02d}'  → 00:00 형식
        if '3' in display :      # if display.find('3') >=0
            time += 60
print(time)

29700

In [61]:
# 2 숫자 개수
num_string = ''
for i in range(1,1001):
    num_string += str(i)

In [62]:
for i in range(10):
    count = num_string.count(str(i))
    print(i, count)

0 192
1 301
2 300
3 300
4 300
5 300
6 300
7 300
8 300
9 300

### 24.2 문자열 서식 지정자와 포맷팅

In [72]:
ss= 'python'
f'==={ss:10s}===' #10s의 10은 10칸..의미, s는 string

'===python    ==='

In [71]:
dd=3
f'==={dd:4d}:{dd:02d}==='     # d: 폭

'===   3:03==='

In [69]:
year, month, day, hour, minute = 2022, 3, 29, 11, 36
f'오늘은 {year}-{month:02d}-{day:02d}이고, 시간은 {hour:02d}:{minute:02d}입니다'

'오늘은 2022-03-29이고, 시간은 11:36입니다'

In [78]:
price1, price2 = 35000, 1200000
print(f'가격1:{price1:10,d}원')        #d(폭)을 10만큼 준다.
print(f'가격2:{price2:10,d}원')

가격1:    35,000원
가격2: 1,200,000원

In [79]:
import math
f'파이값은 {math.pi} 입니다'

'파이값은 3.141592653589793 입니다'

In [80]:
import math
f'파이값은 {math.pi:8.4f} 입니다'

'파이값은   3.1416 입니다'